* {
  /* border: 1px solid red; */
}

p {
  color: #FFFFFF;
  font-size: 20px;
}


.App {
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

.App-header {
  color: white;
  padding-top: 10%;
  padding-bottom: 7%;
}

.App-body {
  padding-bottom: 30%;
}

.App-input {
  max-width: 20vw;
  margin-top: 10%;
  margin-bottom: 5%;
}

.App-link {
  color: #61dafb;
}

.submit-button {
  margin-top: 5%;
  margin-bottom: 20%;
  background-color: #61dafb;
  color: #FFFFFF;
}

.reset-button {
  margin-top: 40%;
}

#result {
  min-height: calc(10px + 2vmin);
  font-size: 14px;
}